.ant-btn {
  border: none;
}

.ant-btn-primary {
  color: #fff;
  background-color: #e9663a;
  font-weight: 600;
  border: none;
  text-shadow: none;
  box-shadow: none;
}

.ant-btn:hover, .ant-btn:focus {
  color: #fff;
  background-color: #e9663aec;
  border-color: #e9663aec;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #fff;
  background-color: #e9663aec;
  border-color: #e9663aec;
}

.error {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__message {
  width: 70%;
  margin: 30px 10px;
}

.error__btn {
  width: 70%;
}