@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ant-btn.ant-btn-primary {
  background-color: #e9663a;
  border: none;
  font-weight: bold;
  font-family: "Poppins";
}

.ant-spin-dot-item {
  background-color: #e9663a;
}

/*=================== Container class (General responsive class ) ===================*/
.container {
  width: 100%;
  padding: 0 15px;
}

body {
  /* padding-top: 75px; */
}

.link {
  text-decoration: underline;
  font-style: normal;
  color: #e9663a;
}

/*=== Large devices (desktops, 992px and up) ===*/
@media (min-width: 992px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
}
