.journal-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}
.journal-page__loading {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.7)
}

.journal-card__date .journal-card__icon {
  margin-right: 4px;
}

.header__icon svg,
.journal-card__date svg,
.journal-card__time svg {
  width: 20px;
  height: 20px;
  fill: rgba(36, 36, 36, 0.6);
}

.journal-card--date,
.journal-card--time {
  font-size: 0.8rem;
}

.ant-popover-inner {
  height: 197px;
  width: 280px;
}

.ant-btn-sm {
  width: 104px;
  color: black !important;
  height: 36px !important;
  padding: 0 !important;
}

.ant-popover-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
}

.ant-btn-primary {
  background-color: #ee6b42 !important;
  border-color: #ee6b42 !important;
  color: white !important;
}

.ant-popover-message {
  color: black !important;
  font-size: 18px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
  padding-bottom: 0 !important;
}

.ant-popover-inner-content {
  padding: 24px 16px;
}

.ant-popover-message > .anticon {
  display: none !important;
}

.ant-popover-message-title {
  padding-left: 3px !important;
}

.journal-details__top {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.journals__container {
  padding-bottom: 100px;
}

.journal__emoji--container {
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 10px;
  margin: 0 auto;
}

.journal__emoji {
  position: absolute;
  left: calc(50% - 50px);
  width: 100px !important;
  height: 100px !important;
}
