.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.about__title {
    width: 100%;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0.2rem;
}

.about__content {
    width: 100%;
    font-family: 'Open Sans';
    font-size: 14px;
    text-align: left
}

.about__heading {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.about__img {
    width: 30vh;
    height: 10vh;
}

@media only screen and (min-width: 768px) {
    .about__heading .main-head {
        font-size: 35px;
    }
    .about__title {
        font-size: 26px;
    }
    .about__content {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .about__heading .main-head {
        font-size: 45px;
    }
    .about__title {
        font-size: 38px;
    }
    .about__content {
        font-size: 30px;
    }
}