.logo-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-header__image {
  height: 28px;
  width: 46%;
}

.logo-header__link {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  font-size: 13px;
  color: #242424;
  height: 28px;
  font-weight: 600;
}
