.logo-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.logo-header__image {
  height: 2.5rem;
  width: 46%;
}

.logo-header__link {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  font-size: 13px;
  color: #242424;
  font-weight: 600;
  align-self: center;
}

@media (min-width: 600px) {
  .logo-header__link {
    font-size: 1.4rem;
  }
}

/*=================== Large devices (desktops, 992px and up) ===================*/
@media (min-width: 992px) {
  .logo-header__image {
    height: 2.5rem;
    width: 30%;
  }
}
