.journal-card {
  padding: 13px;
  margin: 1rem 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: 'VAGRounded', sans-serif;
}

.journal-card__top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 500;
  font-size: .7rem;
  color: #e9663a;
  font-weight: 600;
  padding-bottom: 10px;
}

.journal-card__date {
  width: 45%;
}

.journal-card__time {
  width: 40%;
}

.journal-card__delete {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.journal-card__icon {
  font-size: .9rem;
  color: rgba(36, 36, 36, 0.6);
  margin-right: 4px;
}

.journal-card__icon--delete {
  cursor: pointer;
  color: rgba(245, 34, 45, 0.8);
}

.journal-card__body {
  margin: .6rem 0;
  font-size: .8rem;
  text-transform: capitalize;
  color: rgba(36, 36, 36, 0.9);
  font-weight: 600;
}

.journal-card__body__title {
  color: rgba(36, 36, 36, 0.6);
  margin-right: 4px;
}

.journal-card__grateful,
.journal-card__challenge,
.journal-card__developing {
  width: 100%;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 600px) {
  .journal-card {
    width: 70%;
    margin: 1rem 0px;
  }
}

@media (min-width: 1024px) {
  .journal-card {
    width: 80%;
    margin: 1rem 0px;
  }
}
