.journal-card {
  margin: 1rem 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: sans-serif;
  overflow: hidden;
}

.journal-card__top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 600;
  padding-bottom: 10px;
  background-color: #e9663a;
  color: #fff;
  padding: 7px 13px;
  font-size: 0.9rem;
  font-weight: 600;
}

.journal-card__top svg {
  fill: aliceblue !important;
}

.journal-card__date {
  width: 50%;
}

.journal-card__time {
  width: 40%;
}

.journal-card__delete {
  width: 7%;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.journal-card__icon {
  font-size: 0.9rem;
  color: rgba(36, 36, 36, 0.6);
  margin-right: 4px;
}

.journal-card__icon--delete {
  cursor: pointer;
  color: rgba(245, 34, 45, 0.8);
}

.journal-card__body {
  margin: 0.6rem 0;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: rgba(36, 36, 36, 0.9);
  font-weight: 600;
  padding: 0.5rem;
}
.feeling-container {
  margin-bottom: 7px;
}
.journal-card__icon--feeling {
  width: 25px;
  height: 25px;
}

.journal-card__body__title {
  color: rgba(36, 36, 36, 0.6);
  margin-right: 4px;
}

.journal-card__grateful,
.journal-card__challenge,
.journal-card__developing {
  width: 100%;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 600px) {
  .journal-card {
    width: 70%;
    margin: 1rem 0px;
  }
}

@media (min-width: 1024px) {
  .journal-card {
    width: 80%;
    margin: 1rem 0px;
  }
}
