.confirm-pass__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  width: 90vw;
  margin: auto;
}

.confirm-pass__text {
  font-size: 18px;
  margin: 10px 0 0 0;
}

.confirm-pass__input {
  height: 40px !important;
}

.confirm-pass__form {
  text-align: center;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22vh;
}

.confirm-pass__form__icon {
  color: rgba(0, 0, 0, 0.25) !important;
}

/*=================== Medium devices (tablets, 768px and up)  ===================*/

@media (min-width: 768px) and (max-width: 991.98px) {
  .confirm-pass__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    margin-top: 70px;
  }
  .confirm-pass__text {
    font-size: 30px;
  }
  .confirm-pass__form {
    width: calc(100vw - 200px);
    margin: auto;
    height: 17vh;
  }
  .confirm-pass__form .ant-input {
    padding-left: 45px !important;
  }
  .confirm-pass__form .ant-input, .confirm-pass__form .ant-btn, .confirm-pass__form .ant-input-prefix {
    height: 50px;
    font-size: 25px;
  }
}

/*=================== Ipad Pro  ===================*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .confirm-pass__body {
    width: 70vw;
    margin: 0 auto;
    padding: 0 30px;
    margin: 10vh auto;
    height: 70vh;
  }
  .confirm-pass__text {
    font-size: 35px;
  }
  .confirm-pass__form {
    height: 15vh;
  }
  .confirm-pass__form .ant-input {
    padding-left: 35px !important;
  }
  .confirm-pass__form .ant-input, .confirm-pass__form .ant-btn, .confirm-pass__form .ant-input-prefix {
    height: 60px;
    font-size: 25px;
  }
  .confirm-pass__img {
    width: 400px;
    height: 400px;
  }
}

/*=================== Large devices (desktops, 992px and up) ===================*/

@media (min-width: 992px) {
  .confirm-pass__body {
    width: 55vw;
    margin: auto;
  }
  .confirm-pass__text {
    font-size: 25px;
  }
  .confirm-pass__form {
    height: 18vh;
  }
  .confirm-pass__form .ant-input {
    padding-left: 35px !important;
  }
  .confirm-pass__form .ant-input, .confirm-pass__form .ant-btn, .confirm-pass__form .ant-input-prefix {
    height: 40px;
    font-size: 20px;
  }
}