.edit-account {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80vw;
  min-height: 50vh;
  margin: 0 auto;
}

.edit-account__form {
  width: 100%;
  margin-top: 10vh;
}

.edit-account__buttons {
  display: flex;
  justify-content: space-between;
}

.edit-account .ant-btn.ant-btn-primary,
.edit-account .ant-btn.ant-btn-default {
  width: 45%;
}

.edit-account .ant-btn.ant-btn-default {
  border-color: #e9663a;
}

.edit-account__icon {
  color: rgba(0, 0, 0, 0.25) !important;
}

.edit-account .ant-form-item-control {
  line-height: 6vh;
  zoom: 1.2;
}

.edit-account form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.edit-account__checkbox {
  width: max-content;
  margin-bottom: 20px;
}

.edit-account__checkbox span {
  font-size: 1.1rem;
}

.edit-account__checkbox * {
  color: #e9663a;
}

.edit-account .ant-checkbox-checked .ant-checkbox-inner {
  border-color: #e9663a !important;
  background-color: #e9663a !important;
}

.edit-account .ant-checkbox-inner {
  border-color: #e9663a !important;
}

.edit-account .sub-heading {
  margin: 20px auto;
  font-size: 22px;
  width: 100%;
}

/*=================== Medium devices (tablets, 768px and up)  ===================*/

@media (min-width: 768px) and (max-width: 991.98px) {
  .edit-account {
    width: 80vw;
    margin-top: 17.5vh;
  }

  .edit-account .ant-form-item-control {
    zoom: 1.7;
    line-height: 50px;
  }
}

/*=================== Large devices (desktops, 992px and up) ===================*/
@media (min-width: 992px) {
  .edit-account {
    width: 55vw;
  }

  .edit-account .ant-form-item-control {
    zoom: 1.4;
  }
}

/*=================== Ipad Pro ===================*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .edit-account {
    width: 80vw;
    margin-top: 17.5vh;
  }

  .edit-account .edit-account__form .ant-btn .ant-btn-primary {
    height: 50px !important;
  }

  .edit-account .ant-input {
    height: 50px !important;
  }
  .edit-account .ant-form-item-control {
    line-height: 5vh;
  }
}
