.signin {
  overflow: hidden;
  text-align: center;
}

.signin__form {
  width: 80%;
  margin: auto;
  /* height: 40vh; */
  margin-top: 5vh;
}

.signin .ant-btn.ant-btn-primary {
  width: 100%;
}

.signin  
.ant-spin-dot-item {
  background-color: white !important;
}

.signin .forgot-password__link {
  color: #E9663A;
  line-height: 1;
  font-weight: 500;
  text-align: right;
  padding: 2px 2rem;
  margin-top: -18px;
  font-size: 14px;
}

.signin__icon {
  color: rgba(0, 0, 0, 0.25) !important;
}

.signin__or {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.signin__or::before, .signin__or::after {
  content: " __________ ";
  position: relative;
  top: -7px;
}

.signin__buttons {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
}

.signin .ant-form-item-control {
  line-height: 6vh;
  zoom: 1.2;
}

.sign-in .signin__btn {
  margin-top: -20px !important;
}

.signin form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .signin__form {
    /* height: 56vh; */
    margin-top: 8vh;
  }
  .signin__or {
    font-size: 30px;
    margin-bottom: 60px;
  }
  .signin__or::before, .signin__or::after {
    content: " _________________ ";
    top: -10px;
  }
  .signin .ant-form-item-control {
    zoom: 1.8;
    margin-bottom: 20px;
    line-height: 1vh;
  }
  .signin .forgot-password__link {
    font-size: 19px;
    margin-top: -2.4rem !important;
  }
}

@media (min-width: 992px) {
  .signin__form {
    width: 42vw;
  }
  .signin__buttons {
    margin: 1rem auto;
    width: 45vw;
  }
  .signin .ant-form-item-control {
    line-height: 2vh;
  }
  .signin__or::before, .signin__or::after {
    content: " _______________________ ";
  }
  .signin .forgot-password__link {
    font-size: 19px;
    margin-top: -17px;
  }
  .signin .main__header svg {
    display: none;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .signin__form {
    height: 25vh;
    width: 70%;
  }
  .signin__or::before, .signin__or::after {
    content: " __________________________________ ";
  }
  .signin__buttons {
    width: 75%;
    margin: 2rem auto;
  }
  .signin__buttons button {
    height: 50px;
  }
  .signin .ant-form-item-control {
    line-height: 2vh;
  }
  .signin .ant-input {
    height: 50px !important;
    font-size: 1.3rem;
    padding-right: 50px
  }
  .signin .ant-form-item-control {
    line-height: 2vh;
  }
  .signin .ant-btn {
    height: 50px !important;
    font-size: 1.3rem;
  }
  .signin svg {
    width: 25px;
    height: 25px;
    margin-right: 20px
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 50px !important;
  }
}
