.sign-in__email-input {
  width: 70vw !important;
  height: 7vh;
  margin: 0 auto;
}

.sign-in__password-input {
  width: 70vw !important;
  height: 7vh;
  margin: 0 auto;
}


.ant-btn {
  border: none;
}

 .ant-btn-primary {
  color: #fff;
  background-color: #E9663A;
  border-color: #E9663A;
  text-shadow: none;
  box-shadow: none;
}

 .ant-btn-primary:hover,
 .ant-btn-primary:focus {
  color: #fff;
  background-color: #E9663A;
  border-color: #E9663A;
 }

.signIn__btn {
  width: 50vw;
  height: 5vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  background-color: #E9663A !important;
}