.signup {
  overflow: hidden;
}

.signup__form {
  width: 80%;
  margin: auto;
  height: 59vh;
  margin-top: 5vh;
}

.signup .ant-btn.ant-btn-primary {
  width: 100%;
}

.signup__icon {
  color: rgba(0, 0, 0, 0.25) !important;
}

.signup__or {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.signup__or::before,
.signup__or::after {
  content: " __________ ";
  position: relative;
  top: -7px;
}

.signup__buttons {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
}

.signup .ant-form-item-control {
  line-height: 6vh;
  zoom: 1.2;
}

.signup form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.errorMesaage {
  color: #f5222d;
  font-size: 14px;
  line-height: 1.5;
}

/*=================== Medium devices (tablets, 768px and up)  ===================*/

@media (min-width: 768px) and (max-width: 991.98px) {
  .signup__form {
    height: 56vh;
    margin-top: 10vh;
  }

  .signup__or {
    font-size: 30px;
    margin-bottom: 60px;
  }

  .signup__or::before,
  .signup__or::after {
    content: " _________________ ";
    top: -10px;
  }

  .signup .ant-form-item-control {
    zoom: 1.7;
    line-height: 50px;
  }
}

/*=================== Large devices (desktops, 992px and up) ===================*/

@media (min-width: 992px) {
  .signup {
    width: 35vw;
    margin: 0 auto;
    box-shadow: 2px 2px 7px #bdc3c7, -2px -2px 7px #bdc3c7;
    height: 92vh;
    margin-top: 5vh;
  }

  .signup__or::before,
  .signup__or::after {
    content: " _____________ ";
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .signup {
    width: 70%;
    margin: 0 auto;
    box-shadow: 2px 2px 7px #bdc3c7, -2px -2px 7px #bdc3c7;
    height: 62vh;
    margin-top: 15rem;
  }
  .signup__form {
    height: 42vh;
  }
  .signup .signup__form .ant-btn .ant-btn-primary {
    height: 50px !important;
  }
  .signup__or::before,
  .signup__or::after {
    content: " ___________________________ ";
  }
  .signup__buttons {
    margin: 0 3rem;
  }
  .signup .ant-input {
    height: 50px !important;
  }
  .signup .ant-form-item-control {
    line-height: 5vh;
  }
  .signup .google-btn,
  .signup .facebook-btn {
    height: 50px;
  }
}
