@font-face {
  font-family: "VAGRounded";
  src: url("../assets/fonts/vagrounded-thin.ttf") format("truetype");
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "VAGRounded" !important;
}
