.question__type {
  border-radius: 6px;
  min-height: 200px;
  text-align: center;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question__error-field {
  font-size: 12px;
  color: red;
}

.question__title {
  display: flex;
  flex-direction: column;
  height: 62px;
}

.question__content {
  display: flex;
  flex-direction: column;
  height: 173px;
}

.question__count {
  padding-left: 8px;
}

.question__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  padding: 0 21px;
}

.question__navigation .anticon {
  font-size: 16px;
}

.question__close {
  color: #7c7c7c;
}

.question__type p {
  color: #242424;
  font-size: 20px;
}

.question__skip {
  margin-left: 8px;
}

.question__steps-action .ant-btn-primary {
  background-color: #ee6b42;
  width: 140px;
  height: 41px;
  border: none;
  color: white;
}

.question__steps-action .ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background-color: #ee6b42;
  border-color: #ee6b42;
}

.question__steps-action {
  margin-top: 24px;
  text-align: center;
}

.question__steps-action .ant-btn {
  border: none;
}

.question__type textarea.ant-input {
  width: 224px;
  height: 179px;
}

.question__type .ant-input {
  width: 224px;
  height: 40px;
}

.question__type .ant-progress-inner {
  width: 75%;
}

.question__type .ant-progress-show-info .ant-progress-oute {
  padding-right: 0;
}

.question__type .ant-progress-line {
  padding-bottom: 20px;
}

.question__type .ant-progress-status-success .ant-progress-bg {
  background-color: #ee6b42;
}

.question__type .ant-progress-success-bg,
.ant-progress-bg {
  background-color: #ee6b42 !important;
}

.ant-popover-inner {
  height: 197px;
  width: 280px;
}

.ant-btn-sm {
  width: 104px;
  color: black !important;
  height: 36px !important;
  padding: 0 !important;
}

.ant-popover-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
}

.ant-btn-primary {
  background-color: #ee6b42 !important;
  border-color: #ee6b42 !important;
  color: white !important;
}

.ant-popover-message {
  color: black !important;
  font-size: 18px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
  padding-bottom: 0 !important;
}

.ant-popover-inner-content {
  padding: 24px 16px;
}

.ant-popover-message > .anticon {
  display: none !important;
}

.ant-popover-message-title {
  padding-left: 3px !important;
}

@media only screen and (min-width: 768px) {
  .question__type .ant-progress-inner {
    width: 30%;
  }
}

/* ================================================== */

.emojis {
  /* border: 1px solid red; */
  width: 60%;
  min-height: 90vh;
  margin: 2vh auto;
  text-align: center;
}

.emojis__container {
  border: 1px solid rebeccapurple;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.emoji {
  /* border: 1px solid; */
  width: 30%;
  height: 100%;
  margin: 10px 0;
}

.active * {
  fill: #ee6b42;
}
