.question {
    border-radius: 6px;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.question p {
    color: #242424;
    font-size: 20px;
}

.steps-action .ant-btn-primary {
    background-color: #EE6B42;
    width: 140px;
    height: 41px;
    border: none;
    color: white;
}

.steps-action .ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background-color: #EE6B42;
    border-color: #EE6B42;
}

.ant-btn {
    color: rgba(36, 36, 36, 0.8);
}

.steps-action {
    margin-top: 24px;
}

.question textarea.ant-input {
    width: 224px;
    height: 179px;
}

.question .ant-input {
    width: 224px;
    height: 40px;
    margin-bottom: 10px;
}

.question .ant-progress-inner {
    width: 75%;
}

.question .ant-progress-show-info .ant-progress-oute {
    padding-right: 0;
}

.question .ant-progress-line {
    padding-bottom: 20px;
}

.question .ant-progress-status-success .ant-progress-bg {
    background-color: #EE6B42;
}

.question .ant-progress-success-bg, .ant-progress-bg {
    background-color: #EE6B42 !important;
}