.heat-map {
  width: 100%;
  margin: 0 auto;
}

.heat-map__header {
  padding: 20px;
  text-align: left;
}

.heat-map__logo {
  height: 35px;
}

.heat-map__body {
  padding: 0 20px 20px;
}

.heat-map__text {
  text-align: center;
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

/* The colors of the heat map */
.react-calendar-heatmap .color-scale-1 {
  fill: #feddd2;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #fec3b1;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #f2ac95;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #fc8d6b;
}
